doctype html
html
  head
    title Lespair
    link(rel='stylesheet', href='https://unpkg.com/chota@latest')
  body
    #top.container(role='document')
      .logo.is-center
        img(src='logo.png', alt='')
        h3 Расписание занятий
      fieldset
        legend
          h2 Группа 1
        .row
          .col
            #yesterday.card
              h4 Вчера
              each val, index in group1yesterday
                | #{index}. #{val}
                br
          .col
            #today.card
              h4 Сегодня
              each val, index in group1today
                | #{index}. #{val}
                br
          .col
            #tomorrow.card
              h4 Завтра
              each val, index in group1tomorrow
                | #{index}. #{val}
                br
      fieldset
        legend
          h2 Группа 2
        .row
          .col
            #yesterday.card
              h4 Вчера
              each val, index in group2yesterday
                | #{index}. #{val}
                br
          .col
            #today.card
              h4 Сегодня
              each val, index in group2today
                | #{index}. #{val}
                br
          .col
            #tomorrow.card
              h4 Завтра
              each val, index in group2tomorrow
                | #{index}. #{val}
                br
      fieldset
        legend
          h2 Новости
        .row
          .col(id="news")
            | Идет загрузка ...
  footer.is-text-center(style='padding: 3rem')
  p
    | Lespair - is an electronic timetable for the specialty 09.03.01, from
    a(href='http://www.polytech21.ru/')  polytech21.com
  h5
    | Made by
    a(href='https://github.com/KikyTokamuro', target='_blank')  Kiky Tokamuro
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js')
  script(src='rss-parser.min.js')
  script(src='script.js')
  link(rel='stylesheet', href='style.css')
